body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #000000 !important;
  color: #f0fdfa !important;
}

.searchPage input {
  border: 0.5px solid rgba(20, 184, 166, 0.5) !important;
  height: 35px;
  border-radius: 10px;
  width: 500px;
  border: none;
  background-color: rgba(13, 148, 136, 0.15);
}

.searchPage input::placeholder {
  padding-left: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #ccfbf1 !important;
}

.searchPage input:not(:placeholder-shown) {
  color: #ccfbf1 !important;
  padding-left: 30px;
}

.btn-search {
  background-color: rgba(13, 148, 136, 0.15) !important;
  border: 0.5px solid rgba(20, 184, 166, 0.5) !important;
  color: #ccfbf1 !important;
}

.btn-search:hover {
    background-color: rgba(20, 184, 166, 0.5) !important;
}

section {
  background: transparent;
  height: 100%;
  width: 100% !important;
  padding: 30px 10px;
}
